######## Maven / build ########
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

######## Uploaded photos (GitHub par nahi jayengi) ########
uploads/

######## IntelliJ IDEA ########
.idea/
*.iml
*.iws
*.ipr
out/

######## Eclipse / STS ########
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

######## VS Code ########
.vscode/

######## NetBeans ########
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

######## Secrets / local config ########
.env
*.env
application-local.properties
application-local.yml

######## Logs / OS ########
*.log
logs/
.DS_Store
Thumbs.db